<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRIO WORKSHOP MANUAL">
  <test name="Automation Flow">
    <parameter name="irctc_first_letters" value="blr" />
    <parameter name="email" value="dummy.acc.4.321.3009@gmail.com" />
    <parameter name="pwd" value="Dummy3009@" />
    <parameter name="content" value="Hello there!" />
    <parameter name="media_path" value="C:\Users\Atri\Desktop\Crio_Dark.png" />
    <parameter name="name" value="Atri" />
    <groups>
      <run>
        <include name="Linkedin"/>
        <include name="W3Schools"/>
        <include name="Google" />
        <include name="IMDB" />
        <include name="IRCTC" />
        <include name="Heroku" />
      </run>
    </groups>
    <classes>
      <class name="user_manual.Heroku" />
      <class name="user_manual.BaseTest" />
      <class name="user_manual.Google" />
      <class name="user_manual.Imdb" />
      <class name="user_manual.Irctc" />
      <class name="user_manual.LinkedIn" />
      <class name="user_manual.WthreeSchools" />
    </classes>
  </test>
</suite>
