<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="User Manual Test Suite">
  <test name="All tests">
    <parameter name="irctc_first_letters" value="" />
    <parameter name="email" value="" />
    <parameter name="pwd" value="" />
    <parameter name="content" value="" />
    <parameter name="media_path" value="" />
    <parameter name="name" value="" />
    <classes>
      <class name="user_manual.Google" />
      <class name="user_manual.Imdb" />
      <class name="user_manual.Irctc" />
      <class name="user_manual.LinkedIn" />
      <class name="user_manual.WthreeSchools" />
    </classes>
  </test>
</suite>
